        body {
            background: #f5d9d5;
            font-family: "Nunito", sans-serif;
        }
        
        #mainNavbar .navbar-brand {
            color: #ea1c2c;
            font-size: 1.8em;
        }
        
        #mainNavbar {
            font-size: 1.3em;
            font-weight: 100;
        }
        
        #mainNavbar .nav-link {
            color: white;
        }
        
        #mainNavbar .nav-link:hover {
            color: #ea1c2c;
        }
        
        #heading span {
            color: #ea1c2c;
        }
        
        #heading h2 {
            font-weight: 100;
            font-size: 4rem;
        }
        
        .para h3 {
            color: #ea1c2c;
            font-weight: 100;
            font-size: 2.5rem;
        }
        
        .para p {
            color: #f498b8;
            font-weight: 100;
            font-size: 1.125rem;
            line-height: 2;
        }
        
        .container-fluid {
            margin-bottom: 100px;
        }
        
        .navbar.scrolled {
            background: rgb(222, 192, 222);
            transition: background 500ms;
        }
        
        footer {
            display: flex;
            justify-content: center;
            padding: 5px;
            background-color: rgb(222, 192, 222);
            color: black;
        }
        
        @media (min-width: 900px) {
            #heading h2 {
                font-weight: 100;
                font-size: 3rem;
            }
            
        }