body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;
    color: white;
}
h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.rotate{
   width: 325px;
   transform: rotate(25deg);
   position: absolute;
   right: 23%;
}

/* Navigation bar */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 3rem;
    font-weight: bold;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}
p{
    color: gray;
}

/* Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative  ;
}
.fas{
    color: #ef8172;
}
.fas:hover{
    color:#ff4c68;
}
.feature-box{
    text-align: center;
}
.feat{
    font-family: 'Montserrat';
}

/* testimonials */
#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.carousel-item{
    padding:7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
} 
.dogs{ 
    color: #000;

}
#press{
    background-color: #ef8172;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    text-align: center;
    padding: 100px;
}
.pricing-col{
    padding: 3% 2%;
}

/*Call to action*/

#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15%;
    
}
h3{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3.5rem;
    color: #fff;
    line-height: 1.5;
}

#footer{
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
}
.footer-icon{
    padding: 7px;
}

@media (max-width: 1028px) {
    #title{
        text-align:center;
    }
    .rotate{
        padding-top: 10px;
        position: static;
        transform: rotate(0);
    }
}