body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #40514E;
}

nav {
  width: 100%;
  display: flex;
  position: fixed;
  background-color: transparent;
  margin-top: 0;
}

nav ul {
  text-align: right;
  width: 100%;
  margin: 0;
}

nav ul li {
  color: white;
  display: inline-block;
  list-style: none;
  margin: 20px 30px;
}

h1 {
  margin: 0;
  color: #E8F9FD;
  font-size: 4em;
}

h2 {
  font-size: 2.5rem;
  font-family: 'montserrat', sans-serif;
}

h3 {
  font-family: 'montserrat', sans-serif;
}

p {
  color: black;
}

hr {
  width: 4%;
  border-style: dotted;
  border-width: 6px;
  border-color: #7F8487;
  border-bottom: none;
  margin-top: 100px;
  margin-bottom: 100px;
}

a {
  color: #40514E;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logo {
  text-align: left;
  font-family: 'montserrat', sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
  cursor: default;
}

.navbar li:hover {
  cursor: pointer;
}

.prog {
  color: white;
}

.top {
  background-color: #151515;
  background-image: url("../top-img.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 23%;
}

.mypic {
  border-radius: 50%;
  width: 25%;
}

.topimg {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.middle-container {
  margin: 100px 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skills {
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile {
  padding-top: 50px;
  padding-bottom: 50px;
}

.teamwork {
  width: 35%;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
}

.bottom-container {
  background-color: #242830;
  padding-top: 50px;
  padding-bottom: 20px;
}

.copyr {
  color: white;
}

.contact-me {
  background-color: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 200px;
}

.left-resume {
  background-color: white;
  height: 200px;
  width: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  transition: transform 0.5s;
  box-shadow: 0 0 0 0;
}

.right-email {
  background-color: white;
  height: 200px;
  width: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  transition: transform 0.5s;
  box-shadow: 0 0 0 0;
}

.hover:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 8px 0 #242830;
}
.topn{
  color: darkgray;
}
