.coin-container{
    display: flex;
    justify-content: center;
}

.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid white;
    width: 1200px;
}

.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.coin h1{
    font-size: 16px;
    width: 150px;
}

.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol{
    text-transform: uppercase;

}

.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-price{
    
    width: 110px;
}

coin-volume{
    
    width: 200px;
}

.coin-marketcap{
    
    width: 230px;
}

.coin-percent{
    width: 80px;
}

.red{
    
    flex-shrink: 0;
    color: red;
    font-weight: 800;
}

.green{
    flex-grow: 0;
    color: rgb(49, 194, 49);
    
    font-weight: 800;
}